
@charset "utf-8";

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
body {
    font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    font-size:14px;
}

/* 768px以上 tablet */
@media (min-width: 768px) {
    body {
        font-size:14px;
    }
}
/* 992px以上 desctop */
@media (min-width: 992px) {
    body {
        font-size:16px;
    }
}

    
@font-face {
  font-family: 'ltg';
  src: url('https://googledrive.com/host/0B0sFz3yMT9SHazRvMTgyU2I1OWc/');
}
@font-face {
  font-family: 'ltgcd';
  src: url('https://googledrive.com/host/0B0sFz3yMT9SHOFhPWXpYaURSQ2M/');
}
@font-face {
  font-family: 'octicons';
  src: url('https://googledrive.com/host/0B0sFz3yMT9SHN2Z1ZnIzSTF6alU/?#iefix') format('embedded-opentype'),
       url('https://googledrive.com/host/0B0sFz3yMT9SHZzZwbTVkVmVBU1U/') format('woff'),
       url('https://googledrive.com/host/0B0sFz3yMT9SHdXNLMGpUZkg1Vlk/') format('truetype'),
       url('https://googledrive.com/host/0B0sFz3yMT9SHQmRrWTVUSEJ0NVk/#octicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* 767px以下: デフォルト */
a {
  text-decoration:none;
}
.header,
.content,
.footer
.sub {
	margin:0 auto;
}

#logo {
    font-size: 1rem;
    margin:0 0 1rem;
    padding:0.3em 0.5rem 0;
}

.post,
#disqus_thread,
.notecontainer {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	border:solid 1px {color:frame Color};
	margin:0 0.5rem 0.8rem;
	padding:0 1.5em;
	background-color:#fff;
}
.contentBody h1,
.contentBody h2,
.contentBody h3 {
	margin-bottom:0.2rem;
	font-family: 'ltg';
	letter-spacing:0em;
}
.date {
    font-size:0.8em;
    margin:0;
    text-align:right;
}
.post .tmblr-full,
.post .tmblr-full img{
    max-width:100%;
    height:auto;
    text-align:center;
}
.post p {
    line-height:1.8em;
}
.post blockquote {
    margin:1em 2em;
    padding:0 0 0 0.5em;
    font-size:0.8em;
    font-style:italic;
    border-left:solid 4px #ececec;
}
.tags {
    font-size:0.8rem;
    padding:0;
}
.tags li {
    list-style:none;
    display:inline-block;
    margin:0 0.8em 0.5em 0;
    padding:0.3em 0.5em;
    background-color:#ececec;
    border-radius: 5px;
    line-height:1;
}
.tags li a {
    display:block;
}
.pagination {
    font-size:0.8rem;
    text-align:center;
}
.sub {
    margin:1rem 0.5rem;
}
.sub > div,
.sub nav {
    color:#000;
    padding:1em;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    margin-bottom:1rem;
}
.sub h2 {
    margin-top:0;
}
.sub h2,
.sub p,
.sub li,
.sub form,
.sub dt,
.sub dd {
    font-size:0.8rem;
}
.sub ul {
    padding:0 0 0 1em;
}
.sub dd {
	margin:0;
}
.sub .avatar {
    text-align:center;
}
.sub .avatar img {
    border-radius: 50%;
    max-width:100%;
    height:auto;
}

.footer {
    text-align:center;
    color:#ccc;
}
.recommendList {
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-justify-content: space-between; /* Safari */
	justify-content:         space-between;
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap:         wrap;
	padding:0;
}
.recommendList li {
    width:30%;
    overflow:hidden;
    margin:0 0 0.5rem;
}
.recommendList li img {
    border-radius: 50%;
    max-width:100%;
}

    .charaFace {
   }
    .charaFace figure {
        border-radius:50%;
        overflow:hidden;
        width:30%;
        height:auto;
        margin:0 auto;
        display:block;
    }
    .charaFace p {text-align:center;margin:0.5em 0 0;}
 

/* 一覧ページ */
.typeL .post {
    display: -webkit-flex; /* Safari */
    display: flex;
    border:none;
    padding:0.5rem;
    position:relative;
    overflow:hidden;
    box-shadow: 1px 1px 3px #ccc;
    -moz-box-shadow: 1px 1px 3px #ccc;　/* Firefox用 */  
}
.typeL .body-text {
    border-radius: 50%;
    overflow:hidden;
    width:4em;
    height:4em;
    background-size:cover;
}
.typeL .tmblr-full,
.typeL .body-text img {
    width:100%;
    height:auto;
    margin:0;
}
.typeL .body-text .amazlet-box,
.typeL .body-text p,
.typeL .body-text .read_more_container,
.typeL .body-text h2,
.typeL .body-text h3,
.typeL .body-text dl,
.typeL .body-text blockquote {
    display:none;
    font-size:0;
    line-height:0;
}

.typeL .postSummary {
	-webkit-flex: 1;
	flex: 1;
}
.typeL .post h2 {
    margin:0;
    font-size:1.2rem;
    padding: 0.5em 0 0 0.5em;
}
.typeL .Permalink {
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.typeL .date {
    font-size:0.6rem;
    line-height:1;
}

/* amazon */
.amazlet-box {
    background:#ececec;
    padding:0.5rem;
    margin:0 0 0.5rem;
    display: -webkit-flex; /* Safari */
    display: flex;
}
.amazlet-image {
    line-height:0;
    font-size:0;
    width:38%;
}
.amazlet-image img {
    width:100%;
}
.amazlet-image a {
    display:block;
}
.amazlet-info {
    line-height:1.3;
    font-size:0.8em;
    width:62%;
}
.amazlet-info div {
    padding:0 0 0 0.8em;
}
.amazlet-sub-info {
    margin:0.8em 0 0;
}
.amazlet-powered-date {
    text-align:right;
    margin:0.3em 0;
}

/* 続きを読む */
#moreRead dt{
    display:block;
    cursor:pointer;
    }
#moreRead dd{
    display:none;
    padding:0;
    margin:0;
    }

/* リアクション */
.notecontainer {
    padding:0.8rem 1.5em 0.4rem;
}
.notecontainer ol {
    padding:0;
    margin:0 0 0.4rem;
}
.notecontainer ol li {
    font-size:0.8rem;
    list-style:none;
    line-height:1.3;
    margin:0 0 0.3em;
}
.notecontainer ol li img {
    vertical-align:middle;
}
.notecontainer ol li .action {
    margin:0 0 0 0.5em;
}
.notecount-header,
.notecount-header .buttons {
    display: -webkit-flex; /* Safari */
    display: flex;
}
.notecount-header {
    margin:0;
    -webkit-align-items: flex-start; /* Safari */
    align-items: flex-start;
}
.notecount-header .buttons > div {
    margin:0 0.5rem 0 0;
}
.notecount-header h2 {
    font-size:1.1rem;
    margin:0 1em 0 0;
}



/* 991px以下 tabletとsmartphone*/
@media (max-width: 991px) {
    .blogSummary {
        display: -webkit-flex; /* Safari */
        display: flex;
        -webkit-align-items: center; /* Safari */
        align-items: center;
    }
    .blogSummary .avatar + div {
        padding:0 0 0 1em;
    }
    .notecontainer ol li .action {
        font-size:0.5rem;
    }
}

/* 768px以上 tablet */
@media (min-width: 768px) {
	.header,
	.content,
	.footer {
		width: 750px;
	}
}

/* 992px以上 desctop */
@media (min-width: 992px) {
	.header,
	.content,
	.footer {
		width: 970px;
	}
	.content {
		display: -webkit-flex; /* Safari */
		display: flex;
		-webkit-justify-content: space-between; /* Safari */
		 justify-content:         space-between;
	}

	.contentBody {
		width:640px;
	}
	.contentBody .post,
    #disqus_thread,
    .notecontainer {
		margin:0 0 0.8rem;
	}
	.sub {
		width:310px;
		margin:0;
	}  
}


/* module */
.alignC {text-align:center;}
.alignR {text-align:right;}

.em {color:#ee0f29;}

.basicTable {
width: 100%;
border-collapse: collapse;
margin:0.8rem 0;
}
.basicTable th{
padding: 0.3em 0.5em;
text-align: left;
vertical-align: top;
color: #333;
background-color: #eee;
border: 1px solid #b9b9b9;
font-size:0.8em;
font-weight:normal;
}
.basicTable td{
padding: 0.3em 0.5em;
background-color: #fff;
border: 1px solid #b9b9b9;
font-size:0.8em;
}